#main {
  height: auto;
  width: 100%;
  position: absolute;
  top: 64px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card {
  // background-color: palegreen !important;
  position: relative;
  height: 100%;
  width: 700px;
  max-width: 100%;
  overflow: scroll;
}

.main-card pre {
  font-size: 10px !important;
}